{{ form_start(form) }}
    {{ form_row(form.name, {'label': 'Name:'}) }}
    {{ form_row(form.description, {'label': 'Description:'}) }}
    {{ form_row(form.price, {'label': 'Price:'}) }}
    <button type="submit">Add Product</button>
{{ form_end(form) }}
